.noimg{
    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 150px;
}
.nopagebtn{
    position: absolute;
    left: 550px;
    bottom: 80px;
}
.nomain{
    background-color: whitesmoke;
    position: relative;
}
.link{
    text-decoration: none;
    color:black;
}
@media screen and (max-width:896px) {
    .noimg{
        margin-left: 0px;
        height: 300px;
        width: 380px;
        margin-top: 190px;
        margin-bottom: 190px;
    }
    .nopagebtn{
        position: absolute;
        left: 130px;
        bottom: 130px;
    }

    
}